[Unit]
Description=Initialise shared configurations onto this machine

[Service]
Type=oneshot
Environment=VERBOSITY=4
ExecStart=/usr/local/bin/shared-config-init
